<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="test" verbose="1" parallel="classes" thread-count="3">

<test name="regression" >
        <classes>
          <class name="tests.FrameBasewithdataproviderTest"/>
            <class name="tests.MockTest"/>
            <class name="tests.ApiTest"/>
            <class name="tests.Uicontinuation"/>


        </classes>

</test>

    <test name="Smoke" >
        <classes>
            <class name="tests.ApiTest"/>
            <class name="tests.BasicTest"/>


        </classes>

    </test>



</suite>